# Read Partitioned Data in Parquet Format and Write Updates #
This notebook demostrates reading partitioned data, partition filter operations and writing updated partitions back to the storage layer.  
  
This notebook is dependant on the output data created by the notebook `creditcard_hash_anonymize.ipnyb`

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.\
        builder.\
        appName("hash_anon_partitions").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        config("spark.eventLog.enabled", "true").\
        config("spark.eventLog.dir", "file:///opt/workspace/events").\
        getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/12 16:02:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Read Parquet Data #

### Configuration Setting to allow partition writes back ###
Missing this configuration option results in

```
java.io.FileNotFoundException ...   
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
```

AND *all the data in the updated partition is deleted*

In [2]:
spark.conf.set('spark.sql.sources.partitionOverwriteMode', 'dynamic')

### Demonstrate Partition Filtering ###
Without Parquet filter by partition, we scan 132 partitions:

In [3]:
df_read = spark.read.parquet("/opt/workspace/dataout/credit-cards/").explain()

== Physical Plan ==
*(1) ColumnarToRow
+- FileScan parquet [card_type#0,bank#1,card_number#2,card_holder#3,expiry_date#4,billing_date#5,credit_limit#6,issue_year#7,issue_month#8] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/opt/workspace/dataout/credit-cards], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<card_type:string,bank:string,card_number:string,card_holder:string,expiry_date:string,bill...

With a filter by year, we only scan PartitionCount: 12 (12 months)

In [4]:
df_read = spark.read.parquet("/opt/workspace/dataout/credit-cards/issue_year=2013").explain()

== Physical Plan ==
*(1) ColumnarToRow
+- FileScan parquet [card_type#18,bank#19,card_number#20,card_holder#21,expiry_date#22,billing_date#23,credit_limit#24,issue_month#25] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/opt/workspace/dataout/credit-cards/issue_year=2013], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<card_type:string,bank:string,card_number:string,card_holder:string,expiry_date:string,bill...

### Read in Partition Data for year 2013 ###

In [5]:
# Use the basePath option to stop the partition column from being dropped
df_read = spark.read.option("basePath", "/opt/workspace/dataout/credit-cards/").parquet("/opt/workspace/dataout/credit-cards/issue_year=2013")

# Save updates to a Partition #

In [7]:
df_read.show(15)

+--------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|           card_type|            bank|         card_number|         card_holder|expiry_date|billing_date|credit_limit|issue_year|issue_month|
+--------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|    American Express|American Express|fa97545a484641d8a...|1b5f1b515cab9b586...|    08/2027|           1|      104100|      2013|          8|
|                Visa|  First National|70af4edc8e5c207e3...|a2cde7687a0e544a8...|    08/2015|          21|       55300|      2013|          8|
|         Master Card|           Chase|73ab033eaade21c1c...|e8c999919fa7720d5...|    08/2028|           9|      171900|      2013|          8|
|            Discover|        Discover|87deb4b3c75c3b79f...|ac7ca170a090c60a1...|    08/2030|          11|      137200|      2013|          8|
| Japan Credit Bureau|             JCB|de3a1dce962d0f74c...|6be7c5c47ba3c8de5...|    08/2015|          25|       76600|      2013|          8|
|         Master Card| Bank of America|046596094a672ee43...|98b1df416100036e4...|    08/2027|          12|      131900|      2013|          8|
|         Master Card|            USAA|5bcb243b6799f0e9b...|39c12a90e412c4164...|    08/2015|          16|       99000|      2013|          8|
| Japan Credit Bureau|             JCB|05ef473ed6e9d8d99...|9c289b88c7305e37b...|    08/2032|           7|       65900|      2013|          8|
|                Visa|           Chase|54da20b960ea5f9da...|8fb4a630c5eec84d9...|    08/2027|          19|       93900|      2013|          8|
|         Master Card| Bank of America|d09b5b616b94a8caf...|edbf5c9cc5b08233d...|    08/2017|          11|       64600|      2013|          8|
| Japan Credit Bureau|             JCB|71315ef82c2c8bd2f...|42f447d777f1222c9...|    08/2016|          24|      107500|      2013|          8|
|    American Express|American Express|17e9336cd0fca5293...|81dbb657ede7eb0a7...|    08/2030|           3|      143100|      2013|          8|
| Japan Credit Bureau|             JCB|ce5bed4f247fdc64a...|1c3dbf63e2960aac2...|    08/2032|           1|       53400|      2013|          8|
|Diners Club Inter...|     Diners Club|409c51ced81e3d855...|7db3c4c8102d69226...|    08/2014|          16|      117200|      2013|          8|
|                Visa| Bank of America|9d2645a82a35d0b25...|847203124c5f866ec...|    08/2032|          18|      102600|      2013|          8|
+--------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
only showing top 15 rows

NOTE - we have lost the leading 0 for the month.  This is because the type of the partition column has been re-inferred (int not String)

In [8]:
df_read.printSchema()

root
 |-- card_type: string (nullable = true)
 |-- bank: string (nullable = true)
 |-- card_number: string (nullable = true)
 |-- card_holder: string (nullable = true)
 |-- expiry_date: string (nullable = true)
 |-- billing_date: integer (nullable = true)
 |-- credit_limit: integer (nullable = true)
 |-- issue_year: integer (nullable = true)
 |-- issue_month: integer (nullable = true)

try again with spark.sql.sources.partitionColumnTypeInference.enabled set to False

In [9]:
spark.conf.set('spark.sql.sources.partitionColumnTypeInference.enabled', False)

In [10]:
df_read = spark.read.option("basePath", "/opt/workspace/dataout/credit-cards/").parquet("/opt/workspace/dataout/credit-cards/issue_year=2013")

In [11]:
df_read.printSchema()

root
 |-- card_type: string (nullable = true)
 |-- bank: string (nullable = true)
 |-- card_number: string (nullable = true)
 |-- card_holder: string (nullable = true)
 |-- expiry_date: string (nullable = true)
 |-- billing_date: integer (nullable = true)
 |-- credit_limit: integer (nullable = true)
 |-- issue_year: string (nullable = true)
 |-- issue_month: string (nullable = true)

In [12]:
df_read.show(5)

+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|          card_type|            bank|         card_number|         card_holder|expiry_date|billing_date|credit_limit|issue_year|issue_month|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|   American Express|American Express|fa97545a484641d8a...|1b5f1b515cab9b586...|    08/2027|           1|      104100|      2013|         08|
|               Visa|  First National|70af4edc8e5c207e3...|a2cde7687a0e544a8...|    08/2015|          21|       55300|      2013|         08|
|        Master Card|           Chase|73ab033eaade21c1c...|e8c999919fa7720d5...|    08/2028|           9|      171900|      2013|         08|
|           Discover|        Discover|87deb4b3c75c3b79f...|ac7ca170a090c60a1...|    08/2030|          11|      137200|      2013|         08|
|Japan Credit Bureau|             JCB|de3a1dce962d0f74c...|6be7c5c47ba3c8de5...|    08/2015|          25|       76600|      2013|         08|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
only showing top 5 rows

We now have the leading zero on the issue_month string retained.

### Change the partition data and write it back ###

In [13]:
# increase the credit_limit by factor 10
df_update = df_read.withColumn("credit_limit", df_read.credit_limit*10)

In [14]:
df_update.show(5)

+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|          card_type|            bank|         card_number|         card_holder|expiry_date|billing_date|credit_limit|issue_year|issue_month|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|   American Express|American Express|fa97545a484641d8a...|1b5f1b515cab9b586...|    08/2027|           1|     1041000|      2013|         08|
|               Visa|  First National|70af4edc8e5c207e3...|a2cde7687a0e544a8...|    08/2015|          21|      553000|      2013|         08|
|        Master Card|           Chase|73ab033eaade21c1c...|e8c999919fa7720d5...|    08/2028|           9|     1719000|      2013|         08|
|           Discover|        Discover|87deb4b3c75c3b79f...|ac7ca170a090c60a1...|    08/2030|          11|     1372000|      2013|         08|
|Japan Credit Bureau|             JCB|de3a1dce962d0f74c...|6be7c5c47ba3c8de5...|    08/2015|          25|      766000|      2013|         08|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
only showing top 5 rows

In [15]:
df_update.write.format("parquet")\
                .mode("overwrite")\
                .partitionBy('issue_year', 'issue_month')\
                .save("/opt/workspace/dataout/credit-cards/")

In [16]:
spark.stop()

### Check the Updates to the Partition ###

In [17]:
spark = SparkSession.\
        builder.\
        appName("hash_anon_readupdate").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        config("spark.eventLog.enabled", "true").\
        config("spark.eventLog.dir", "file:///opt/workspace/events").\
        getOrCreate()

In [18]:
df_read = spark.read.option("basePath", "/opt/workspace/dataout/credit-cards/").parquet("/opt/workspace/dataout/credit-cards/issue_year=2013")
df_read.show(5)

+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|          card_type|            bank|         card_number|         card_holder|expiry_date|billing_date|credit_limit|issue_year|issue_month|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
|   American Express|American Express|fa97545a484641d8a...|1b5f1b515cab9b586...|    08/2027|           1|     1041000|      2013|          8|
|               Visa|  First National|70af4edc8e5c207e3...|a2cde7687a0e544a8...|    08/2015|          21|      553000|      2013|          8|
|        Master Card|           Chase|73ab033eaade21c1c...|e8c999919fa7720d5...|    08/2028|           9|     1719000|      2013|          8|
|           Discover|        Discover|87deb4b3c75c3b79f...|ac7ca170a090c60a1...|    08/2030|          11|     1372000|      2013|          8|
|Japan Credit Bureau|             JCB|de3a1dce962d0f74c...|6be7c5c47ba3c8de5...|    08/2015|          25|      766000|      2013|          8|
+-------------------+----------------+--------------------+--------------------+-----------+------------+------------+----------+-----------+
only showing top 5 rows

In [19]:
spark.stop()